<div id="panelItems" class="panel active">
  <div class="columns">
    <div class="left-pane">
      <div class="toolbar item-toolbar">
        <input type="text" id="itemTypeFilter" class="hidden-value" value="">
        <div id="combo_itemTypeFilter" class="combo toolbar-combo" onclick="ToggleCombo('itemTypeFilter'); event.cancelBubble = true;">
          <span id="combo_itemTypeFilter_text" class="combo-text">Tất cả group</span>
          <span class="combo-button"><span class="combo-caret"></span></span>
          <div id="combo_itemTypeFilter_menu" class="combo-menu"></div>
        </div>
        <input type="text" id="itemSearch" placeholder="Tìm theo ID hoặc tên">
        <button type="button" onclick="LoadItems()">Tìm</button>
        <button type="button" onclick="NewItem()">Thêm mới</button>
      </div>
      <div class="table-wrap">
        <table id="itemsTable"></table>
      </div>
      <div class="list-pagination item-list-pagination">
        <button type="button" id="itemFirstPage" onclick="GoItemPage(1)">Đầu</button>
        <button type="button" id="itemPreviousPage" onclick="GoItemPage(itemCurrentPage - 1)">‹ Trước</button>
        <span id="itemPageInfo" class="pagination-info">Chưa tải danh sách</span>
        <button type="button" id="itemNextPage" onclick="GoItemPage(itemCurrentPage + 1)">Sau ›</button>
        <button type="button" id="itemLastPage" onclick="GoItemPage(itemTotalPages)">Cuối</button>
      </div>
    </div>

    <div class="right-pane">
      <div class="section-title">Chi tiết vật phẩm</div>
      <div class="row">
        <div class="cell"><label>ID</label><input type="text" id="itemId"></div>
        <div class="cell">
          <label>Type / group</label>
          <input type="text" id="itemType" class="hidden-value" value="27">
          <div id="combo_itemType" class="combo" onclick="ToggleCombo('itemType'); event.cancelBubble = true;">
            <span id="combo_itemType_text" class="combo-text">27 - Pet đeo lưng / follow</span>
            <span class="combo-button"><span class="combo-caret"></span></span>
            <div id="combo_itemType_menu" class="combo-menu"></div>
          </div>
        </div>
        <div class="cell">
          <label>Gender</label>
          <input type="text" id="itemGender" class="hidden-value" value="3">
          <div id="combo_itemGender" class="combo" onclick="ToggleCombo('itemGender'); event.cancelBubble = true;">
            <span id="combo_itemGender_text" class="combo-text">Dùng chung</span>
            <span class="combo-button"><span class="combo-caret"></span></span>
            <div id="combo_itemGender_menu" class="combo-menu"></div>
          </div>
        </div>
      </div>
      <label>Tên</label><input type="text" id="itemName">
      <label>Mô tả</label><textarea id="itemDesc"></textarea>
      <div class="row">
        <div class="cell"><label>Level</label><input type="text" id="itemLevel"></div>
        <div class="cell"><label>Icon</label><input type="text" id="itemIcon" onkeyup="UpdateItemIconPreview()"></div>
        <div class="cell"><label>Part</label><input type="text" id="itemPart"></div>
      </div>
      <div class="item-icon-preview" id="itemIconPreview">Chưa có icon</div>
      <div class="row">
        <div class="cell">
          <label>Up to up</label>
          <input type="text" id="itemUp" class="hidden-value" value="0">
          <div id="combo_itemUp" class="combo" onclick="ToggleCombo('itemUp'); event.cancelBubble = true;">
            <span id="combo_itemUp_text" class="combo-text">Không cho nâng cấp</span>
            <span class="combo-button"><span class="combo-caret"></span></span>
            <div id="combo_itemUp_menu" class="combo-menu"></div>
          </div>
        </div>
        <div class="cell"><label>Power</label><input type="text" id="itemPower"></div>
      </div>
      <div class="row">
        <div class="cell"><label>Gold</label><input type="text" id="itemGold"></div>
        <div class="cell"><label>Gem</label><input type="text" id="itemGem"></div>
      </div>
      <div class="row">
        <div class="cell"><label>Head</label><input type="text" id="itemHead"></div>
        <div class="cell"><label>Body</label><input type="text" id="itemBody"></div>
        <div class="cell"><label>Leg</label><input type="text" id="itemLeg"></div>
      </div>
      <div class="actions">
        <button type="button" class="primary" onclick="SaveItem()">Lưu vật phẩm</button>
      </div>
      <div id="itemMessage" class="message"></div>
    </div>
  </div>
</div>
